<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>{$meta_title}_{:C('WEB_SITE_TITLE')}</title>
<link href="__CSS__/top.css" rel="stylesheet">
<link href="__CSS__/common.css" rel="stylesheet">

<link href="__CSS__/footer.css" rel="stylesheet">

<script type="text/javascript" src="__JS__/public.js"></script>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>



