<h3><span class="home"><img src="__IMG__/home.png" width="30" height="30"/></span><a rel="nofollow" href='javascript:vod(0)' class="home-me">我的会员中心</a></h3><dl>
<dt><a rel="nofollow"  >订单中心</a></dt>
<dd><a rel="nofollow" href='{:U("center/index")}'>我的主页</dd>
<dd><a rel="nofollow" href='{:U("center/allorder")}'>订单管理</a></dd>
<dd><a rel="nofollow" href='{:U("center/collect")}'>我的收藏</a></dd>
<dd><a rel="nofollow" href='{:U("center/coupon")}'>优惠券</a></dd>
<dd><a rel="nofollow" href='{:U("center/comment")}'>评价管理</a></dd>

</dl><dl class="last">
<dt><a rel="nofollow" >个人信息</a></dt>

<dd><a href='{:U("account/security")}'>安全中心</a></dd>
<dd><a href='{:U("center/information")}'>个人档案</a></dd>
<dd><a rel="nofollow" href='{:U("center/address")}'>地址管理</a></dd>

<dd><a rel="nofollow" href='{:U("shopcart/index")}'>我的购物车</a></dd>
<dd><a rel="nofollow" href='{:U("center/envelope")}'>站内信</a></dd>
</dl> <script>/* 左边菜单高亮 */
            url = window.location.pathname + window.location.search;
            url = url.replace(/(\/(p)\/\d+)|(&p=\d+)|(\/(id)\/\d+)|(&id=\d+)|(\/(group)\/\d+)|(&group=\d+)/, "");
			
            $("a[href='" + url + "']").addClass("current") ;
			</script>
   