<extend name="Base/s1"/>



<block name="body">
     
   <section>
	  <div class="tuanlist"><P></p>
  
       
        <ul class="ml_content_top"><li <eq name="order" value="1">class="active"<else/></eq>><a rel="nofollow" href="{:U('new/index','category='.$category['name'].'&order=1'.'&sort='.$see)}" class="{$value}">热度<i></i></a></li><li <eq name="order" value="2">class="active"<else/></eq>><a rel="nofollow" href="{:U('new/index','category='.$category['name'].'&order=2'.'&sort='.$see)}"  class="{$value}">最新<i></i></a></li><li <eq name="order" value="3">class="active"<else/></eq>><a rel="nofollow" href="{:U('new/index','category='.$category['name'].'&order=3'.'&sort='.$see)}"  class="{$value}">价格<i></i></a></li><li <eq name="order" value="4">class="active"<else/></eq>><a rel="nofollow" href="{:U('new/index','category='.$category['name'].'&order=4'.'&sort='.$see)}"  class="{$value}">销量<i></i></a></li></ul> 
                <empty name="list">
 <div class="media">暂无数据</div>
</empty>
    
                <div class="yershop_tuan">


                <ul> <volist name="list" id="vo">
				
				<li class="li" onmouseover="this.className='lihover'" onmouseout="this.className='li'"><span class="icon_qg"></span>
               <a href="{:U('Article/detail?id='.$vo['id'])}"><img src="{$vo.cover_id|get_cover='path'}"> </a> 
               <p class="title">{$vo.title}</p>
			    <p><span class="tuan"><strong>￥{$vo.qg_price}</strong>/<strong class="yuan">￥55</strong></span><span class="qiang"><a>去抢购</a></span></p>
				  <p class="time">剩余时间：<php>

date_default_timezone_set("Asia/Shanghai");
$time1 = strtotime('2015-3-17 11:11:11');
$time2 =time();
$second = $time1 - $time2;
	$day = floor($second/(3600*24));
	$second = $second%(3600*24);
	$hour = floor($second/3600);
	$second = $second%3600;
	$minute = floor($second/60);
	$second = $second%60;


echo $day.'天'.$hour.'小时'.$minute.'分'.$second.'秒';
</php> </p>
				</li> </volist>
                </ul>  
                  
                </div>
              
             
       <!-- 分页 -->
        <div class="page">
{$page}
        </div>   
			</div>
 
     <script>
    $(".menu-list li").eq(1).css('background','#d25400');  
     </script>   
  
    </section>
    
</block>