<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>{$meta_title}_{:C('WEB_SITE_TITLE')}</title>
<head>
<link href="__CSS__/top.css" rel="stylesheet">
<link href="__CSS__/common.css" rel="stylesheet">
<link href="__CSS__/tuan.css" rel="stylesheet">
<link href="__CSS__/footer.css" rel="stylesheet">

<script type="text/javascript" src="__JS__/public.js"></script>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
</head>
<body>
<!-- 工具条 -->
	<include file="Public/toolbar"/>
	<!-- /工具条 -->
	<!-- 头部 -->
	<div class="yershop_wrapper">
	<include file="Public/s1_header"/>
	
	<!-- /头部 -->

	<!-- 菜单 -->
	<include file="Public/s1_menu"/>
	<!-- /菜单 -->


	<!-- 主体 -->
	<include file="Public/s1_body"/>
	<!-- 主体 -->

  <!-- 购物车js -->
   <include file="Public/cart_js"/>
   <!-- /购物车js -->

	<!-- 底部 -->
	<include file="Public/footer"/></div>
	<!-- /底部 -->
</body>
</html>